<div class="navbar">
  <!-- <a [routerLink]="['/search']" class="home-icon">
    <img src="https://img.icons8.com/ios-filled/50/ffffff/home.png" height="25px" alt="home" />
  </a> -->
  <div class="search-container">
    <div class="search-box">
      <input type="text"  [(ngModel)]="searchTerm" placeholder="Enter movie title" />
      <button (click)="onsearch()">Search</button>
    </div>

  </div>
  <div *ngIf="isLoggedIn">
    <button (click)="logOut()" class="logout-btn">
    <img width="44" height="44" src="https://img.icons8.com/sf-black/64/logout-rounded-left.png" alt="logout-rounded-left"/>  

    </button>
  </div>
</div>
